@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/OpenSans/OpenSans.woff2") format("woff2"),
        url("../../fonts/OpenSans/OpenSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy/Gilroy-ExtraBold.woff2") format("woff2"),
        url("../../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
