mixin submenu()
    div(class="submenu")
        ul(class="submenu__list")
            li(class="submenu__item")
                a(href="#5" class="text submenu__link") Виртуальная реальность
            li(class="submenu__item")
                a(href="#5" class="text submenu__link") Моноподы для селфи
            li(class="submenu__item")
                a(href="#5" class="text submenu__link") Экшн-камеры
        ul(class="submenu__list")
            li(class="submenu__item")
                a(href="#5" class="text submenu__link") Фитнес-браслеты
            li(class="submenu__item")
                a(href="#5" class="text submenu__link") Умные часы
        ul(class="submenu__list")
            li(class="submenu__item")
                a(href="#5" class="text submenu__link") Квадрокоптеры

    // END .submenu
