<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Device</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body class="page">
    <div class="page__container">
        <header class="header">
            <div class="box header__box">
                <div class="logo header__logo"><a class="logo__link" href="#5">Device</a></div><!-- END .logo-->
                <nav class="nav-user header__nav-user">
                    <div class="nav-user__item">
                        <div class="nav-user__search"><img class="nav-user__search-img" src="images/svg-icon/search.svg"><input class="nav-user__search-field" type="text" placeholder="Поиск по сайту"></div>
                    </div>
                    <div class="nav-user__item">
                        <div class="nav-user__subitem">
                            <div class="nav-user__link-block"><img class="nav-user__image-user" src="images/svg-icon/user.svg"><a class="text nav-user__link" href="#5">Войти</a></div>
                        </div>
                        <div class="nav-user__subitem nav-user__subitem--right">
                            <div class="nav-user__link-block"><img class="nav-user__image-compare" src="images/svg-icon/compare.svg"><a class="text nav-user__link" href="#5">Сравнить</a></div>
                            <div class="nav-user__link-block"><img class="nav-user__image-cart" src="images/svg-icon/cart.svg"><a class="text nav-user__link" href="#5">Корзина</a></div>
                        </div>
                    </div>
                </nav><!-- END .nav-user-->
                <nav class="nav-site">
                    <div class="nav-site__item"><a class="nav-site__link nav-site__link--catalog" href="#5">Каталог товаров</a><button class="nav-site__button"><img class="nav-site__img" src="images/svg-icon/plus.svg"></button>
                        <div class="submenu">
                            <ul class="submenu__list">
                                <li class="submenu__item"><a class="text submenu__link" href="#5">Виртуальная реальность</a></li>
                                <li class="submenu__item"><a class="text submenu__link" href="#5">Моноподы для селфи</a></li>
                                <li class="submenu__item"><a class="text submenu__link" href="#5">Экшн-камеры</a></li>
                            </ul>
                            <ul class="submenu__list">
                                <li class="submenu__item"><a class="text submenu__link" href="#5">Фитнес-браслеты</a></li>
                                <li class="submenu__item"><a class="text submenu__link" href="#5">Умные часы</a></li>
                            </ul>
                            <ul class="submenu__list">
                                <li class="submenu__item"><a class="text submenu__link" href="#5">Квадрокоптеры</a></li>
                            </ul>
                        </div><!-- END .submenu-->
                    </div>
                    <div class="nav-site__item">
                        <div class="nav-site__subitem"><a class="nav-site__link" href="#5">Доставка</a><a class="nav-site__link" href="#5">Гарантия</a></div>
                        <div class="nav-site__subitem nav-site__subitem--right"><a class="nav-site__link" href="#5">Контакты</a></div>
                    </div>
                </nav><!-- END .nav-site-->
            </div>
        </header><!-- END .header-->
        <main class="main">
            <div class="slider">
                <div class="box slider__box">
                    <div class="slide"><span class="slide__line"></span>
                        <h1 class="slide__number">01</h1>
                        <div class="image-box slide__image-box"><img class="images-box__img" src="images/slider/slide-1.png" srcset="images/slider/slide-1@2x.png 2x" alt="Slider"></div>
                        <div class="slide__description">
                            <p class="slide__title">Делай селфи, как Бен Стиллер!</p>
                            <p class="slide__text">Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 килограмм.</p><button class="button slide__button">Подробнее</button>
                            <table class="slide__table">
                                <tr class="slide__table-row">
                                    <td class="slide__table-cell">8,5 м</td>
                                    <td class="slide__table-cell">5 кг</td>
                                    <td class="slide__table-cell">Карбон</td>
                                </tr>
                                <tr class="slide__table-rowl">
                                    <td class="slide__table-cell">Длина палки</td>
                                    <td class="slide__table-cell">Вес палки</td>
                                    <td class="slide__table-cell">Материал</td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- END .slide-->
                    <div class="slide"><span class="slide__line"></span>
                        <h1 class="slide__number">02</h1>
                        <div class="image-box slide__image-box"><img class="images-box__img" src="images/slider/slide-2.png" srcset="images/slider/slide-2@2x.png 2x" alt="Slider"></div>
                        <div class="slide__description">
                            <p class="slide__title">Худеем правильно!</p>
                            <p class="slide__text">Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.</p><button class="button slide__button">Подробнее</button>
                            <table class="slide__table">
                                <tr class="slide__table-row">
                                    <td class="slide__table-cell">48 часов</td>
                                    <td class="slide__table-cell"></td>
                                    <td class="slide__table-cell"></td>
                                </tr>
                                <tr class="slide__table-rowl">
                                    <td class="slide__table-cell">Без подзарядки</td>
                                    <td class="slide__table-cell"></td>
                                    <td class="slide__table-cell"></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- END .slide-->
                    <div class="slide"><span class="slide__line"></span>
                        <h1 class="slide__number">03</h1>
                        <div class="image-box slide__image-box"><img class="images-box__img" src="images/slider/slide-3.png" srcset="images/slider/slide-3@2x.png 2x" alt="Slider"></div>
                        <div class="slide__description">
                            <p class="slide__title">Порхает как бабочка, жалит как пчела!</p>
                            <p class="slide__text">Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.</p><button class="button slide__button">Подробнее</button>
                            <table class="slide__table">
                                <tr class="slide__table-row">
                                    <td class="slide__table-cell">800 м</td>
                                    <td class="slide__table-cell">50 м</td>
                                </tr>
                                <tr class="slide__table-rowl">
                                    <td class="slide__table-cell">Дальность полета</td>
                                    <td class="slide__table-cell">Радиус поражения</td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- END .slide-->
                </div>
            </div><!-- END .slider-->
        </main>
    </div>
    <script src="scripts/common.js"></script>
</body>

</html>
